# logs
*.log
/test_result/
/test_result/*
/test_result/*/
/front/dist/*

# cache
**/__pycache__/
test_*.py
!/api/autotest/testcodegen/output/__init__.py
/api/autotest/testcodegen/output/*

# Local DB
db.sqlite3

# migrations
/**/migrations/00*
