# logs
*.log
/test_result/
/test_result/*
/test_result/*/
/front/dist/*

# drivers
/browser_driver/*

# cache
**/__pycache__/
test_*.py
!/api/autotest/testcodegen/output/__init__.py
/api/autotest/testcodegen/output/*

# Local DB
db.sqlite3

# database driver
/database_driver/*
!/database_driver/java/

# migrations
/**/migrations/00*

# IDE
/.vscode/
